<div class="container">

  <h2><%= @cocktail.name %></h2>

  <br>

  <ul>
    <% @cocktail.doses.each do |dose|%>
      <li style="list-style: none;">
        <strong><%= dose.ingredient.name %></strong>
        - -
        <%= dose.description %>
        <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="far fa-trash-alt"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

  <hr>

  <p>
    <i class="fas fa-plus"></i>
    <%= link_to 'Add dose', new_cocktail_dose_path(@cocktail.id) %>
  </p>

</div>
