<div class="container">

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.submit "Add dose", class: "btn btn-primary" %>
  <% end %>

  <hr>

  <p>
    <i class="fas fa-undo-alt"></i> <%= link_to 'Back to list', cocktails_path %>
  </p>
</div>
